pyrogram>=1.2.20
aiohttp>=3.9.3
motor==3.0.0
TgCrypto
pytz
uvloop
redis
redis[hiredis]
python-dotenv
pytimeparse
pyromod==1.1
unidecode
python-telegram-bot
bs4
python-dateutil
requests
deprecation
screeninfo
Pillow
psutil
# pytgcalls==3.0.0.dev24
# git+https://github.com/XhaidarX00/pytgcall
emoji